# Auto detect text files and perform LF normalization
* text=auto


Grupo 1
Integrantes:
-Bartoszensky, Luciano 66915
-Berreta, Luis 62253
-García Majorel, Álvaro 61856
-Garelli, Mayco 62585
-Roca, Felix 63573
-Sarmiento, Leandro 62070